html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr  {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    font-size : 100%;
    font-family : serif;
    /* vertical-align : baseline; */
    background : transparent;
    }
    hr{background : grey;width:90%;text-align:center;margin : 10px;}
    ol, ul ,li{ list-style: none;}
    blockquote, q { quotes: none;}
    blockquote:before, blockquote:after,q:before, q:after { content: '';    content: none;}
    /* remember to define focus styles! */
    :focus {        outline: 0;}
    /* remember to highlight inserts somehow! */
    ins, a {   text-decoration: none;color:gray}
    del {   text-decoration: line-through;}
    /* tables still need 'cellspacing="0"' in the markup */
    table { border-collapse: collapse;      border-spacing: 0;}
    
    /* FIN DE LA REINTIALISATION */    
body{
background-color:#dad8d5;
}

#dem {
    background-image:url('/gestion/icecast.png');
    background-size: 70%;
    background-repeat:no-repeat;
    background-position:center center;    
}
#menu {
    position:absolute;
    top:150px;
    width:150px;
}
#timer {
    font-family: 'Arial', Helvetica, sans-serif;
    height:50px;
    font-size: 30pt;
    font-weight:bold;
    text-align: center;
    background-color:#FFFFFF;
    width:80%;
}
#menu button {
    height:80px;
    width:150px;
    font-weight:bold;
    border-radius: 10px;
}
#but button {
	float:right;
    height:80px;
    width:399px;
    font-weight:bold;
    border-radius: 10px;
}
#but button.buttonp {
    height:80px;
    width:133px;
    font-weight:bold;
    border-radius: 10px;
}
#but button.buttondemi {
    height:80px;
    width:180px;
    font-weight:bold;
    border-radius: 10px;
}
#affichage{
    width:580px;
    height:375px;
    position: absolute;
    top: 100px;
    left : 200px;
    margin-right: 5px;
}
#envoi{
    width:580px;
    height:375px;
    position: absolute;
    top: 100px;
    left : 200px;
    margin-right: 5px;
    display: none;
}
.fermer{
    position:absolute;
    top:0px;
    left:10px;
    width:100px;
    height:370px;
}
.fermerH{
    margin-top: 10px;
    height:80px;
    width:370px;
    font-weight:bold;
}
h1{
	text-align:center;
	font-weight:bold;
	font-size:20pt;
	padding-right:200px;
}
table {
    width:550px;
    font-size: 12pt;
    background-color: white;
}
tr {
    height:35px;
}
table button {
    width:80px;
    height: 30px;
    border-radius:5px;
}
.buttong {
    width:200px;
    height: 30px;
    border-radius:5px;
}
.buttonact {
    background-color: coral;
    height:50px;
    width:70px;
    border: 5px inset coral;
    border-radius:5px;
}
.buttonnc {
    background-color: beige;
    height:50px;
    width:70px;
    border: 5px outset beige;
    border-radius:5px;
}
.g {
    font-weight: bold;
}
#dg {    
    margin-top:50px;
    width:280px;
    float: left;
    background-color: #FFFFFF;
}
#dd {
    margin-top:50px;
    width:280px;
    float: right;
    background-color: #FFFFFF;
}
#dg button {
    height:27px;
    width:85px;
    text-align: center;
}
#dd button {
    height:27px;
    width:85px;
}
