html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr  {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    font-size : 100%;
    /* vertical-align : baseline; */
    background : transparent;
    }
    hr{background : grey;width:90%;text-align:center;margin : 10px;}
    ol, ul ,li{ list-style: none;}
    blockquote, q { quotes: none;}
    blockquote:before, blockquote:after,q:before, q:after { content: '';    content: none;}
    /* remember to define focus styles! */
    :focus {        outline: 0;}
    /* remember to highlight inserts somehow! */
    ins, a {   text-decoration: none;color:gray}
    del {   text-decoration: line-through;}
    /* tables still need 'cellspacing="0"' in the markup */
    table { border-collapse: collapse;      border-spacing: 0;}
    
    /* FIN DE LA REINTIALISATION */    
body{
background-color:#dad8d5;
}
#menu{
	float:left;
    height:400px;
    width:150px;
}
input.input30 {
    width:30px;
}
.jaune{
    background-color:yellow;
}
